<h2>Divisions</h2>

{{#if saved}}
	<div class="alert alert-success text-center">Divisions saved successfully</div>
{{/if}}

<form id="app" method="post">

	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
		<div class="col mb-3" v-for="(division, index) in divisions" :id="'division-' + division.id" :key="division.id">
			<input type="hidden" name="id[]" :value="division.id" />

			<div class="card card-body">
				<div class="form-group mb-3">
					<label :for="'name-' + index">Division Name</label>
					<input type="text" class="form-control" name="division[]" :id="'name-' + index" v-model="division.Name" required />
				</div>

				<div class="form-group mb-3">
					<label :for="'promotion-' + index">Promotion</label>
					<select class="form-control" name="promotion[]" :id="'promotion-' + index" v-model="division.PromotionDivisionID" required>
						<option value="">-- Please Select --</option>
						<option value="null">(none)</option>
						{{#each divisions}}
							<option value="{{id}}" v-if="division.id != {{id}}">{{Name}}</option>
						{{/each}}
					</select>
				</div>

				<div class="form-group mb-3">
					<label :for="'relegation-' + index">Relegation</label>
					<select class="form-control" name="relegation[]" :id="'relegation-' + index" v-model="division.RelegationDivisionID" required>
						<option value="">-- Please Select --</option>
						<option value="null">(none)</option>
						{{#each divisions}}
							<option value="{{id}}" v-if="division.id != {{id}}">{{Name}}</option>
						{{/each}}
					</select>
				</div>

				<div class="row row-cols-2 align-items-center mb-3">
					<div class="col">Is Active?</div>
					<div class="col">
						<div class="btn-group" role="group" aria-label="Is Active?">
							<input type="radio" value="1" class="btn-check" :name="'isActive[' + index + ']'" :id="'isActive-' + index + '-y'" autocomplete="off" :checked="division.IsActive" />
							<label class="btn btn-outline-success" :for="'isActive-' + index + '-y'">Yes</label>

							<input type="radio" value="0" class="btn-check" :name="'isActive[' + index + ']'" :id="'isActive-' + index + '-n'" autocomplete="off" :checked="!division.IsActive">
							<label class="btn btn-outline-danger" :for="'isActive-' + index + '-n'">No</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-success btn-lg" @click="addDivision">+ Add</button>
	<button class="btn btn-default btn-lg" id='save-button' v-if="divisions.length > 0">Save</button>
</form>

<script src="/js/vue.js"></script>
<script src="/js/smoothscroll.min.js"></script>
<script>
	let id = 0;

	const app = new Vue({
		el: '#app',
		data: {
			divisions: {{{ json divisions }}}
		},
	methods: {
		addDivision: function() {
			this.divisions.push({
				id: --id,
				Name: "",
				IsActive: true,
				PromotionDivisionID: null,
				RelegationDivisionID: null
			});

			// scroll to the bottom of the page
			Vue.nextTick(() => {
				document.getElementById(`division-${id}`).scrollIntoView(true);
			});
		}
	}
	})
</script>
