<div class="form-group mb-3">
	<label class="form-label" for="{{prefix}}lineOne">Address Line 1</label>
	<input type="text" class="form-control" id="{{prefix}}lineOne" name="{{prefix}}lineOne" placeholder="Address Line 1"{{#if required}} required{{/if}} value="{{data.Line1}}" {{#if readOnly}}readonly{{/if}}/>
</div>

<div class="form-group mb-3">
	<label class="form-label" for="{{prefix}}lineTwo">Address Line 2</label>
	<input type="text" class="form-control" id="{{prefix}}lineTwo" name="{{prefix}}lineTwo" placeholder="Address Line 2"{{#if required}} required{{/if}} {{#if data}} value="{{data.Line2}}" {{/if}} {{#if readOnly}}readonly{{/if}}/>
</div>

<div class="form-group mb-3">
	<label class="form-label" for="{{prefix}}city">Town/City</label>
	<input type="text" class="form-control" id="{{prefix}}city" name="{{prefix}}city" placeholder="Town/City"{{#if required}} required{{/if}} {{#if data}} value="{{data.City}}" {{/if}} {{#if readOnly}}readonly{{/if}}/>
</div>

<div class="form-group mb-3">
	<label class="form-label" for="{{prefix}}postcode">Postcode</label>
	<input type="text" class="form-control" id="{{prefix}}postcode" name="{{prefix}}postcode" placeholder="Postcode"{{#if required}} required{{/if}} {{#if data}} value="{{data.Postcode}}" {{/if}} {{#if readOnly}}readonly{{/if}}/>
</div>
