<div class="input">
	<input type="text" id="{{prefix}}lineOne" name="{{prefix}}lineOne" placeholder="Address Line 1"{{#if required}} required{{/if}}/>
	<label for="{{prefix}}lineOne">Address Line 1</label>
</div>

<div class="input">
	<input type="text" id="{{prefix}}lineTwo" name="{{prefix}}lineTwo" placeholder="Address Line 2"{{#if required}} required{{/if}}/>
	<label for="{{prefix}}lineTwo">Address Line 2</label>
</div>

<div class="input">
	<input type="text" id="{{prefix}}city" name="{{prefix}}city" placeholder="Town/City"{{#if required}} required{{/if}}/>
	<label for="{{prefix}}city">Town/City</label>
</div>

<div class="input">
	<input type="text" id="{{prefix}}postcode" name="{{prefix}}postcode" placeholder="Postcode"{{#if required}} required{{/if}}/>
	<label for="{{prefix}}postcode">Postcode</label>
</div>