<div class="label-container {{classes}} {{#if editable}}editable{{/if}}" data-membership="{{membership}}">
	{{#each labels}}
	<span class="badge me-3 my-1 border" style="background-color: {{BackgroundColour}}; color: {{ForegroundColour}}; --bs-border-color: {{BackgroundColour}}" data-type="{{id}}">{{Name}}</span>
	{{/each}}
	{{#if editable}}
	<a href="#" class="badge rounded-pill text-dark text-decoration-none border my-1 add">+ Add</a>
	{{/if}}
</div>