<h2>Add Membership</h2>

<form method="post">
	<div class="card card-body mb-3">
		<h3>Membership Details</h3>
		<div class="form-group mb-3">
			<label for="season">Season</label>
			<select name="season" id="season" class="form-control" required>
				<option value="2022">2022</option>
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="type">Membership Type</label>
			<select name="type" id="type" class="form-control" required>
				<option value="">-- Please Select --</option>
				{{#each types}}
				<option data-cost="{{Cost}}" value="{{id}}" data-cost="{{Cost}}" data-organisation="{{IsOrganisation}}" {{#eq ../type id}}selected{{/eq}}>
					{{Name}} ({{#if IsOrganisation}}Organisation{{else}}Individual{{/if}}) - £{{Cost}}</option>
				{{/each}}
			</select>
		</div>
	</div>

	<div class="card card-body mb-3">
		<h3>Organisation Membership</h3>
		<div class="form-group">
			<label for="organisation">Please select the organisation that this membership is for</label>
			<select name="organisation" id="organisation" class="form-control">
				<option value="">-- Please Select --</option>
				<option value="-1">(New organisation)</option>
			</select>
		</div>
	</div>

	<div class="card card-body mb-3">
		<h3>Individual Membership</h3>
		<div class="form-group">
			<label for="email">Please enter the email address of the individual registering for membership</label>
			<input type="email" id="email" name="email" class="form-control" value="{{email}}" required />
		</div>
	</div>

	<button class="btn btn-default btn-lg">Continue</button>
</form>