<h2>Add Membership</h2>

{{#eq types.length 0}}
	<div class="alert alert-warning text-center">There are no membership types currently configured. {{#if session.user.IsAdmin}}You must <a href="/config/membership-type/">create one</a> before creating a membership{{else}}Please contact your system administrator{{/if}}.</div>
{{/eq}}

<form method="post" id="app" :action="action">
	<div class="card card-body mb-3">
		<h3>Membership Details</h3>
		<div class="form-group mb-3">
			<label for="season">Season</label>
			<select name="season" id="season" class="form-control" required>
				<option value="{{season.id}}">{{season.Identifier}}</option>
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="type">Membership Type</label>
			<select name="type" id="type" class="form-control" required v-model="type" v-on:change="changeType">
				<option value="">-- Please Select --</option>
				{{#each types}}
				<option data-cost="{{Cost}}" value="{{id}}" data-organisation="{{IsOrganisation}}"
					{{#eq ../type id}}selected{{/eq}}>
					{{Name}} ({{#if IsOrganisation}}Organisation{{else}}Individual{{/if}}) - £{{Cost}}</option>
				{{/each}}
			</select>
		</div>
	</div>

	<div class="card card-body mb-3" v-if="type != '' && isOrg">
		<h3>Organisation Membership</h3>
		<search-box name="organisation" title="Please select the organisation that this membership is for" placeholder="Start typing to search..."
			url="/_api/organisation/search" text-prop="Name" value-prop="id" text="{{member.Name}}" value="{{member.id}}"></search-box>

		<label class='d-flex mb-3 align-items-center gap-2'>
			<input type="checkbox" name="notFound" value="true" />The organisation was not found
		</label>

		<div class="form-group mb-3">
			<label for="division">Division</label>
			<select name="division" id="division" class="form-control">
				<option value="">-- Please Select --</option>
				{{#each divisions}}
					<option value="{{id}}">
						{{Name}}
					</option>
				{{/each}}
			</select>
		</div>
	</div>

	<div class="card card-body mb-3" v-if="type != '' && !isOrg">
		<h3>Individual Membership</h3>
		<div class="form-group">
			<label for="email">Please enter the email address of the individual registering for membership</label>
			<input type="email" id="email" name="email" class="form-control" value="{{email}}" required />
		</div>
	</div>

	<button class="btn btn-default btn-lg">Continue</button>
</form>

<script src="/js/vue.js"></script>
<script src="/js/component/SearchBox.js"></script>

<script>
	const app = new Vue({
		el: '#app',
		data: {
			type: {{#if type}}{{type}}{{else}}""{{/if}},
			isOrg: {{#eq member null}}false{{else}}true{{/eq}}
		},
		methods: {
			changeType: function (e) {
				this.isOrg = (e.target.options[e.target.selectedIndex].dataset.organisation.toLowerCase() === 'true');
			}
		},
		computed: {
			action(){
				return this.isOrg ? "organisation" : "individual"
			}
		}
	})
</script>
