<h2>Membership {{membership.number}}</h2>
<div class="label-container mb-2">
	{{#each membership.labels}}
	<span class="badge" style="background-color: {{background}}; color: {{foreground}}"
		data-type="{{id}}">{{text}}</span>
	{{/each}}
</div>

<div class="row text-center">
	<div class="col-12 col-lg-6">
		<div class="card card-body">
			<h3>Membership Details</h3>

			<p>Membership Number: {{membership.Number}}</p>
			<p>Membership Type: {{membership.MembershipType.Name}}</p>
			<p>Season: {{membership.Season}}</p>
			<p>Cost: &pound;{{membership.Cost}}</p>
			<p>Start Date: {{date membership.DateStarted}}</p>
		</div>
	</div>

	<div class="col-12 col-lg-6">
		<div class="card card-body">
			{{#eq entity.constructor.name Organisation}}
				<h3>Organisation Details</h3>

				<p>Organisation Name: {{entity.Name}}</p>
				<p>Organisation Type: {{entity.OrganisationType.Name}}</p>

				<a href="/organisation/{{entity.id}}/" class="btn btn-default stretched-link">View Details</a>

			{{else}}
				<h3>Individual Details</h3>

				<p>{{entity.FullName}}</p>
				<p>{{entity.Email}}</p>
			{{/eq}}
		</div>
	</div>
</div>
