<h2>Membership {{membership.Number}}</h2>

<div class="label-container mb-2">
	{{#each membership.Labels}}
	<span class="badge" style="background-color: {{BackgroundColour}}; color: {{ForegroundColour}}"
		data-type="{{id}}">{{Name}}</span>
	{{/each}}
</div>

{{#if saved}}
<div class="alert alert-success text-center">Membership saved successfully</div>
{{/if}}

<div class="row text-center">
	<div class="col-12 col-lg-6">
		<div class="card card-body mb-3">
			<h3>Membership Details</h3>

			<p>Membership Number: {{membership.Number}}</p>
			<p>Membership Type: {{membership.MembershipType.Name}}</p>
			<p>Season: {{membership.Season.Identifier}}</p>
			<p>Cost: &pound;{{membership.Fee.Total}} {{#unless membership.Fee.IsPaid}}<span class="text-danger">Fee
					Outstanding</span>{{else}}<span class="text-success">Fee Paid</span>{{/unless}}</p>
			<p>Start Date: {{date membership.DateStarted}}</p>
			<p>End Date: {{date membership.Season.End}}</p>
		</div>

		{{>fee fee=membership.Fee type="membership" paymentTypes=paymentTypes isAdmin=session.user.IsAdmin}}
	</div>

	<div class="col-12 col-lg-6">
		<div class="card card-body mb-3">
			{{#if membership.MembershipType.IsOrganisation}}
			<h3>Organisation Details</h3>

			<p>Organisation Name: {{entity.Name}}</p>
			<p>Organisation Type: {{entity.OrganisationType.Name}}</p>

			<a href="/organisation/{{entity.id}}/" class="btn btn-default stretched-link">View Details</a>

			{{else}}
			<h3>Individual Details</h3>

			<p>{{entity.FullName}}</p>
			<p>{{entity.Email}}</p>
			{{/if}}
		</div>

		{{#if membership.MembershipType.IsOrganisation}}
		<div class="card card-body mb-3">
			<h3>Division Details</h3>

			<form action='division' method='post'>
				<div class="form-group mb-3">
					<label for="division">Division Name</label>
					<select name="division" id="division" class="form-control" required>
						<option value="">-- Please Select --</option>
						{{#each divisions}}
						<option {{#eq id ../membership.OrganisationMembership.Division.id}}selected{{/eq}}
							value="{{id}}">
							{{Name}}
						</option>
						{{/each}}
					</select>
				</div>

				<button class="btn btn-success">Save</button>
			</form>

		</div>
		{{/if}}
	</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	const btnFee = document.getElementsByClassName("btnFee")[0];

	document.getElementsByClassName('paymentType')[0].addEventListener('change', function (e) {
		btnFee.disabled = (this.value === "");
	});

	btnFee.addEventListener('click', function (e) {
		Swal.fire({
			icon: 'question',
			title: 'ARE YOU SURE?',
			text: `Are you sure you wish to mark this fee as paid? Please only continue if you are sure that £${btnFee.dataset.cost} has been paid specifically for this fee.`,
			showCancelButton: true,
			customClass: {
				confirmButton: 'btn btn-lg btn-success mx-3',
				cancelButton: 'btn btn-lg btn-danger mx-3'
			},
			buttonsStyling: false,
			reverseButtons: true,
			confirmButtonText: 'Yes, this fee has been paid'
		}).then(res => {
			if (res.isConfirmed) {
				this.form.submit();
			}
		})
	});
</script>