<h2>Membership {{membership.number}}</h2>
<div class="label-container mb-2">
	{{#each membership.labels}}
	<span class="badge" style="background-color: {{background}}; color: {{foreground}}"
		data-type="{{id}}">{{text}}</span>
	{{/each}}
</div>

<div class="row text-center">
	<div class="col-12 col-lg-6">
		<div class="card card-body">
			<h3>Membership Details</h3>

			<p>Membership {{membership.number}}</p>
			<p>Membership Type: {{membership.type}}</p>
			<p>Season: {{membership.season}}</p>
			<p>Cost: &pound;{{membership.cost}}</p>
			<p>Start Date: {{date membership.dateStarted}}</p>
		</div>
	</div>

	<div class="col-12 col-lg-6">
		<div class="card card-body">
			{{#if membership.isOrganisation}}
				<h3>Organisation Details</h3>

				<p>{{entity.name}}</p>
				<p>Organisation Type: {{entity.type}}</p>

				<a href="/organisation/{{entity.id}}" class="btn btn-primary stretched-link">View Details</a>

			{{else}}
				<h3>Individual Details</h3>

				<p>{{entity.firstName}} {{entity.surname}}</p>
				<p>{{entity.email}}</p>
			{{/if}}
		</div>
	</div>
</div>