{{#if exists}}
	<div class="alert alert-danger my-3">{{contact.FirstName}} {{contact.Surname}} has already been added to {{organisation.name}}!</div>

	<a href="../../contacts">&lt; back to {{organisation.name}} contacts</a>
{{else}}
<form method="post" class="text-center card card-body text-dark bg-warning my-3">
	<h2>Are You Sure?</h2>
	<p>Are you sure you wish to add {{contact.FirstName}} {{contact.Surname}} as a contact for {{organisation.Name}}?
	</p>

	<div class="row d-none d-md-flex">
		<div class="col-6">
			<div class="card card-body">
				<h3>User</h3>
				<p>{{contact.FirstName}} {{contact.Surname}}</p>
				<p>{{contact.Email}}</p>
			</div>
		</div>

		<div class="col-6">
			<div class="card card-body">
				<h3>Organisation</h3>
				{{#with organisation}}
				<p>{{Name}}</p>
				<p>{{OrganisationType.Name}}</p>
				{{/with}}
			</div>
		</div>
	</div>

	<div class="text-center mt-2">
		<a href="../../contacts" class="btn btn-danger">No, go back</a>

		<button class="btn btn-default">Yes, add this contact</button>
	</div>
</form>
{{/if}}
