<h2>Add Organisation</h2>

{{#eq types.length 0}}
<div class="alert alert-warning text-center">There are no organisation types currently configured. {{#if
	session.user.IsAdmin}}You must <a href="/config/organisation-type/">create one</a> before creating an
	organisation{{else}}Please contact your system administrator{{/if}}.</div>
{{/eq}}

<div class="accordion" id="orgAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header" id="basicDetails">
			<button class="accordion-button header" :class="{'collapsed': currentStep != 0}" type="button" data-bs-toggle="collapse" data-bs-target="#basicDetailsCollapse" aria-expanded="true" aria-controls="basicDetailsCollapse">
				<svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
					<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
				</svg>
				Basic Details
			</button>
		</h2>
		<div id="basicDetailsCollapse" class="accordion-collapse collapse" :class="{'show': currentStep == 0}" aria-labelledby="basicDetails">
			<div class="accordion-body">
				<div class="row">
					<div class="col-12 col-lg-8 mb-3">
						<div class="row">
							<div class="col-12 col-lg-6 mb-3">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" id="name" name="name" maxlength="255" autocomplete="off" class="form-control" placeholder="Organisation Name" required @keyUp="generateSlug" />
								</div>
							</div>
							<div class="col-12 col-lg-6 mb-3">
								<div class="form-group">
									<label for="slug">URL Slug</label>
									<input type="text" id="slug" name="slug" maxlength="255" class="form-control" placeholder="URL Slug" required :value="slug" {{#unless session.user.IsAdmin}} readonly{{/unless}} />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="type">Organisation Type</label>
							<select id="type" name="type" class="form-control" required>
								<option value="">-- Please Select --</option>
								{{#each types}}
								<option value="{{id}}">{{Name}}</option>
								{{/each}}
							</select>
						</div>
					</div>

					<div class="col-12 col-lg-4">
						{{#unless uploadToken}}
						<div class="alert alert-danger text-center">File uploads are currently unavailable</div>
						{{else}}
						<file-upload title="Logo" name="logo" accept="image/*" src="{{organisation.LogoId}}" token="{{uploadToken}}" v-on:start="addUpload" v-on:cancel="completeUpload" v-on:complete="completeUpload"></file-upload>
						{{/unless}}
					</div>
				</div>

				<div class="text-end">
					<button type="button" class="btn btn-default" @click="completeSection('basicDetails', 'profile')">Next</button>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header" id="profile">
			<button class="accordion-button header" :class="{'collapsed': currentStep != 1}" type="button" data-bs-toggle="collapse" data-bs-target="#profileCollapse" aria-expanded="false" aria-controls="profileCollapse" :disabled="currentStep < 1">
				<svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
				</svg>
				Profile
			</button>
		</h2>
		<div id="profileCollapse" class="accordion-collapse collapse" :class="{'show': currentStep == 1}" aria-labelledby="profile">
			<div class="accordion-body">
				<div class="text-end">
					<button type="button" class="btn btn-default" @click="completeSection('profile', 'contacts')">Next</button>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header" id="contacts">
			<button class="accordion-button header" :class="{'collapsed': currentStep != 2}" type="button" data-bs-toggle="collapse" data-bs-target="#contactsCollapse" aria-expanded="false" aria-controls="contactsCollapse" :disabled="currentStep < 2">
				<svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
					<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
				</svg>
				Contacts
			</button>
		</h2>
		<div id="contactsCollapse" class="accordion-collapse collapse" :class="{'show': currentStep == 2}" aria-labelledby="contacts">
			<div class="accordion-body">
				<div class="text-end">
					<button type="button" class="btn btn-default" @click="completeSection('contacts', 'address')">Next</button>
				</div>
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header" id="address">
			<button class="accordion-button header" :class="{'collapsed': currentStep != 3}" type="button" data-bs-toggle="collapse" data-bs-target="#addressCollapse" aria-expanded="false" aria-controls="addressCollapse" :disabled="currentStep < 3">
				<svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
					<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
					<path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
				</svg>
				Organisation Address
			</button>
		</h2>
		<div id="addressCollapse" class="accordion-collapse collapse" :class="{'show': currentStep == 3}" aria-labelledby="address">
			<div class="accordion-body">
				<div class="text-end">
					<button type="submit" class="btn btn-success">Create</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/vue.js"></script>
<script src="/js/component/FileUpload.js"></script>

<script>
	const app = new Vue({
		el: '#orgAccordion',
		data: {
			uploadsInProgress: 0,
			slug: '',
			steps: ['basicDetails', 'profile', 'contacts', 'address'],
			currentStep: 0
		},
		methods: {
			addUpload() {
				this.uploadsInProgress++;
			},

			completeUpload() {
				this.uploadsInProgress--;
			},

			generateSlug(e) {
				this.slug = e.target.value.toLowerCase()
					.trim()
					.replace(/[^\w ]+/g, '')
					.replace(/ +/g, '-');
			},

			validateSection(id) {
				const els = document.querySelectorAll(`#${id} input, #${id} select`);

				for (const el of els) {
					if (!el.reportValidity()) {
						return false;
					}
				}

				return true;
			},

			completeSection(sectionId, nextSectionId) {
				if (!this.validateSection(sectionId + "Collapse")) {
					return;
				}

				const nextStep = this.steps.indexOf(sectionId) + 1;
				if (this.currentStep < nextStep) {
					this.currentStep = nextStep;
				}
			}
		}
	});
</script>