<h2>{{organisation.Name}} Media Consent History</h2>
<p><a href="./">&lt; back to {{organisation.Name}}</a></p>

{{#eq history.length 0}}
<div class="alert alert-info text-center">There have been no changes to {{organisation.Name}}'s media consent</div>
{{else}}
<div class="card card-body text-center mb-3">
	<p class="h4">Current Media Consent: {{history.[0].NewConsentType.Name}}</p>
</div>

{{#each history}}
<div class="card card-body text-center mb-3">
	<p class="h4">Consent changed from {{OldConsentType.Name}} to {{NewConsentType.Name}}</p>

	{{#if Description}}
	<div class="card my-3 mx-lg-5">
		<div class="card-header">Notes</div>
		<div class="card-body fst-italic">
		{{Description}}
		</div>
	</div>
	{{/if}}

	<p>{{datetime createdAt }} | {{User.FullName}}</p>
</div>
{{/each}}
{{/eq}}