<h2>{{organisation.name}} Contacts</h2>
<p><a href="./">&lt; back to {{organisation.name}}</a></p>
<p><a class="btn btn-default{{#unless canAdd}} disabled{{/unless}}" href="#add-contact">+ Add Contact</a></p>

{{#if added}}
<div class="alert bg-success text-light mb-3">Contact successfully added</div>
{{/if}}

{{#if removed}}
<div class="alert bg-success text-light mb-3">Contact successfully removed</div>
{{/if}}

{{#if contacts}}
<div class="row text-center row-cols-1 row-cols-md-2">
	{{#each contacts}}
	<div class="col">
		<div class="card card-body">
			<h3>{{firstName}} {{surname}}</h3>
			<p>{{email}}</p>
			<i>Date added: {{date dateAdded}}</i>
			<a href="/users/{{userID}}" class="btn btn-default mb-3">Edit Contact</a>
			<a href="contacts/{{id}}/remove" class="btn btn-danger">Remove Contact</a>
		</div>
	</div>
	{{/each}}
</div>
{{else}}
<div class="alert bg-error text-light">No contacts set for this organisation</div>
{{/if}}

<div id="add-contact" class="modal">
	<div class="modal-content text-center">
		<a href="#" class="close"></a>

		<p>Please enter the email address of the contact you wish to add</p>

		<form action="contacts/add">
			<div class="input">
				<input id="email" name="email" type="email" placeholder="Email" required />
				<label for="email">Email</label>
			</div>

			<button class="btn-default">Add Contact</button>
		</form>

	</div>
</div>