<h2>{{organisation.Name}} Contacts</h2>
<p><a href="./">&lt; back to {{organisation.Name}}</a></p>
<button type="button" class="btn btn-default mb-3" data-bs-toggle="modal" data-bs-target="#add-contact"{{#unless canAdd}} disabled{{/unless}}>+ Add Contact</button>

{{#if added}}
<div class="alert alert-success text-light mb-3">Contact successfully added</div>
{{/if}}

{{#if removed}}
<div class="alert alert-success text-light mb-3">Contact successfully removed</div>
{{/if}}

{{#if contacts}}
<div class="row text-center row-cols-1 row-cols-md-2">
	{{#each contacts}}
	{{# with User }}
	<div class="col">
		<div class="card card-body">
			<h3>{{FirstName}} {{Surname}}</h3>
			<p>{{Email}}</p>
			<i>Date added: {{date ../DateFrom}}</i>
			<{{#unless ../../session.user.IsAdmin}}{{#isnt ../../session.user.id id}}button disabled{{else}}a{{/isnt}}{{else}}a{{/unless}} href="/user/{{id}}" class="btn btn-default mb-3" >Edit Contact</{{#unless ../../session.user.IsAdmin}}{{#isnt ../../session.user.id id}}button{{else}}a{{/isnt}}{{else}}a{{/unless}}>
			<a href="contacts/{{../id}}/remove" class="btn btn-danger">Remove Contact</a>
		</div>
	</div>
	{{/with}}
	{{/each}}
</div>
{{else}}
<div class="alert alert-danger text-light">No contacts set for this organisation</div>
{{/if}}

<div id="add-contact" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

				<p>Please enter the email address of the contact you wish to add</p>

				<form action="contacts/add">
					<div class="form-group mb-3">
						<label class="form-label" for="email">Email</label>
						<input id="email" name="email" type="email" placeholder="Email" class="form-control" required />
					</div>

					<button class="btn btn-default">Add Contact</button>
				</form>

			</div>
		</div>
	</div>
</div>
