<h2>{{organisation.Name}}</h2>

{{#if saved}}
<div class="alert alert-success text-center mb-2">Changes saved successfully!</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger text-center mb-2">{{error}}</div>
{{/if}}

<div>
	<div class="row">
		<div class="col-12 col-lg-6 mb-3">
			<div class="card card-body">
				<h3 class="text-center">Address</h3>
				{{#if organisation.Address}}
				{{#with organisation.Address}}
				<p>{{Line1}}</p>
				<p>{{Line2}}</p>
				<p>{{City}}</p>
				<p>{{Postcode}}</p>
				<button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#addressModal">Edit
					Address</button>
				{{/with}}
				{{else}}
				<div class="alert alert-danger text-center">No address set for this organisation</div>
				<button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#addressModal">Add
					Address</button>
				{{/if}}
			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="card card-body text-center">
				<h3>Contacts</h3>
				{{#if organisation.OrganisationUsers}}
				<div class="card mb-3">
					<div class="list-group list-group-flush">
						{{#each organisation.OrganisationUsers}}
						{{#with User}}
						<div class="list-group-item">{{FirstName}} {{Surname}} - {{Email}}</div>
						{{/with}}
						{{/each}}
					</div>
				</div>
				{{else}}
				<div class="alert alert-danger">No contacts set for this organisation</div>
				{{/if}}

				<a href="contacts" class="btn btn-default">Manage Contacts</a>
			</div>
		</div>
	</div>

	<hr class="my-4" />

	{{#gt organisation.OrgChangeRequests.length 0}}
	<div class="alert alert-warning text-center">There are <b>{{organisation.OrgChangeRequests.length}}</b> change
		requests awaiting approval. <a href="changes">View Change Requests</a></div>
	{{/gt}}

	<form method="post" id="app">
		<div class="row">
			<div class="col-12 col-lg-7">
				<div class="card card-body mb-3">
					<h3 class="text-center">Organisation Details</h3>

					{{#with organisation}}
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="form-group mb-3">
								<label class="form-label" for="name">Name</label>
								<input type="text" class="form-control" id="name" name="name" placeholder="Name" maxlength="255" value="{{Name}}" @keyUp="generateSlug" required />
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="form-group mb-3">
								<label class="form-label" for="slug">URL Slug</label>
								<input type="text" class="form-control" id="slug" name="slug" placeholder="URL Slug" maxlength="300" :value="slug" {{#unless ../session.user.IsAdmin}} readonly{{/unless}} />
							</div>
						</div>

						<div class="col-12 col-lg-6">
							<colour-picker title="Primary Colour" name="primary" value="{{isNull PrimaryColour '#000000'}}">
							</colour-picker>
						</div>
						<div class="col-12 col-lg-6">
							<colour-picker title="Secondary Colour" name="secondary" value="{{isNull SecondaryColour '#FFFFFF'}}"></colour-picker>
						</div>
					</div>

					<div class="form-group mb-3">
						<label class="form-label" for="description">Description</label>
						<textarea rows="7" id="description" class="form-control" name="description" placeholder="Description" {{#if ../required}} required{{/if}}>{{Description}}</textarea>
					</div>

					<div class="form-group mb-3">
						<label class="form-label" for="type">Organisation Type</label>
						<select id="type" class="form-control" name="type" {{#if ../required}} required{{else}} disabled{{/if}}>
							<option value="">-- Please Select --</option>
							{{#each ../types}}
							<option value="{{id}}" data-type="{{../OrganisationType.id}}" {{#eq id ../OrganisationType.id}} selected{{/eq}}>
								{{Name}}</option>
							{{/each}}
						</select>
					</div>
					{{/with}}
				</div>
			</div>

			<div class="col-12 col-lg-5">
				<div class="card card-body mb-3">
					<h3 class="text-center"><a href="consent">Photo Consent</a></h3>
					<div class="form-group mb-3">
						<label for="consent">Can we take photos and videos of this organisation?</label>
						<select class="form-control style-by-value" name="consent" id="consent" required v-model="consentType">
							<option value="">-- Please Select --</option>
							{{#each consentTypes}}
							<option value="{{id}}">{{Name}}</option>
							{{/each}}
						</select>
					</div>

					<small>{{consentNote.Description}}</small>

					<div class="form-group" v-if="consentType != originalConsentType && consentType == 2">
						<label for="consentDetails">Please give details</label>
						<textarea class="form-control" id="consentDetails" name="consentDetails" rows="5" required></textarea>
					</div>
				</div>

				<div class="card card-body mb-3">
					<h3 class="text-center">Images</h3>
					{{#unless uploadToken}}
					<div class="alert alert-danger text-center">File uploads are currently unavailable</div>
					{{else}}
					<file-upload title="Logo" name="logo" accept="image/*" src="{{organisation.LogoId}}" token="{{uploadToken}}" v-on:start="addUpload" v-on:cancel="completeUpload" v-on:complete="completeUpload"></file-upload>
					<file-upload title="Header Image" name="header" accept="image/*" src="{{organisation.HeaderId}}" token="{{uploadToken}}" v-on:start="addUpload" v-on:cancel="completeUpload" v-on:complete="completeUpload"></file-upload>
					{{/unless}}
				</div>
			</div>
		</div>
		<button class="btn btn-lg btn-default mb-3" :disabled="uploadsInProgress > 0">Save</button>
	</form>
</div>


<form method="post" action="address">
	<div class="modal fade" id="addressModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Address</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{> address data=organisation.Address required=true}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default">Save
						changes</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script src="/js/vue.js"></script>
<script src="/js/component/ColourPicker.js"></script>
<script src="/js/component/FileUpload.js"></script>

<script src="/js/tinymce.min.js"></script>

<script>
	const app = new Vue({
		el: '#app',
		data: {
			uploadsInProgress: 0,
			slug: '{{ organisation.Slug }}',
			originalConsentType: {{organisation.PhotoConsentTypeId}},
			consentType: {{organisation.PhotoConsentTypeId}}
		},
		methods: {
			addUpload() {
				this.uploadsInProgress++;
			},

			completeUpload() {
				this.uploadsInProgress--;
			},

			generateSlug(e) {
				this.slug = e.target.value.toLowerCase()
					.trim()
					.replace(/[^\w ]+/g, '')
					.replace(/ +/g, '-');
			}
		},
		mounted() {
			const target = document.getElementById("name");
			this.generateSlug({ target });
		}
	});

	tinymce.init({
		selector: '#description',
		plugins: 'autolink lists advlist link preview code wordcount',
		toolbar_mode: 'floating',
		menubar: 'file edit view insert tools format',
		contextmenu: 'link lists table',
		setup: (editor) => {
			editor.on('change', editor.save);
		}
	});
</script>