<h2>{{organisation.name}}</h2>

{{#if saved}}
<div class="alert bg-success text-light mb-2">Changes saved successfully!</div>
{{/if}}

<div class="card mb-2">
	<h3 class="text-center">Organisation Details</h3>
	<form method="post">
		{{> organisation organisation=organisation types=types required=required}}
		<button class="btn-default">Save</button>
	</form>
</div>

<div class="row">
	<div class="col-12 col-lg-6">
		<div class="card">
			<h3 class="text-center">Address</h3>
			{{#if address}}
			{{#with address}}
			<p class="mb-2 mt-0">{{lineOne}}</p>
			<p class="mb-2 mt-0">{{lineTwo}}</p>
			<p class="mb-2 mt-0">{{city}}</p>
			<p class="mb-2 mt-0">{{postcode}}</p>
			<button type="button" class="btn-default" id="editAddress">Edit Address</button>
			{{/with}}
			{{else}}
			<div class="alert bg-error text-light">No address set for this organisation</div>
			<button type="button" class="btn-default" id="addAddress">Add Address</button>
			{{/if}}
		</div>
	</div>

	<div class="col-12 col-lg-6">
		<div class="card text-center">
			<h3>Contacts</h3>
			{{#if contacts}}
				{{#each contacts}}
					<div class="card">
						<p>{{firstName}} {{surname}} - {{email}}</p>
					</div>
				{{/each}}
			{{else}}
			<div class="alert bg-error text-light">No contacts set for this organisation</div>
			{{/if}}
			<a href="#" class="btn-default">Manage Contacts</a>
		</div>
	</div>
</div>