<h2>{{organisation.name}}</h2>

{{#if saved}}
<div class="alert alert-success text-center mb-2">Changes saved successfully!</div>
{{/if}}

<div class="card card-body mb-3">
	<h3 class="text-center">Organisation Details</h3>
	<form method="post">
		{{> organisation organisation=organisation types=types required=required}}
		<button class="btn btn-default">Save</button>
	</form>
</div>

<div class="row row-cols-1 row-cols-2">
	<div class="col">
		<div class="card card-body">
			<h3 class="text-center">Address</h3>
			{{#if address}}
			{{#with address}}
			<p>{{lineOne}}</p>
			<p>{{lineTwo}}</p>
			<p>{{city}}</p>
			<p>{{postcode}}</p>
			<button type="button" class="btn btn-default" id="editAddress">Edit Address</button>
			{{/with}}
			{{else}}
			<div class="alert alert-danger text-light">No address set for this organisation</div>
			<button type="button" class="btn btn-default" id="addAddress">Add Address</button>
			{{/if}}
		</div>
	</div>

	<div class="col">
		<div class="card card-body text-center">
			<h3>Contacts</h3>
			{{#if contacts}}
				<div class="list-group mb-3">
					{{#each contacts}}
						<div class="list-group-item">{{firstName}} {{surname}} - {{email}}</div>
					{{/each}}
				</div>
			{{else}}
			<div class="alert alert-danger">No contacts set for this organisation</div>
			{{/if}}

			<a href="contacts" class="btn btn-default">Manage Contacts</a>
		</div>
	</div>
</div>