<h2>Judges</h2>
<p><a href="../">&lt; back to {{event.Name}}</a></p>

{{#if success}}
	<div class="alert alert-success text-center">Changes saved successfully</div>
{{/if}}

{{#if session.user.IsAdmin}}
<form method="post">
{{/if}}
	<div id="app">
		{{#if session.user.IsAdmin}}
		<button type="button" class="btn btn-warning mb-3" id="useDefault">Use Default Captions</button>
		<button type="button" class="btn btn-success mb-3" id="addCaption" {{#eq captions.length 0}}disabled{{/eq}}>Add Caption</button>
		{{/if}}

		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center">
			{{#each event.EventCaptions}}
				{{#with Caption}}
				<div class="col mb-3">
					<div class="card h-100">
						<div class="card-body">
							<h3>{{Name}}</h3>

							<input type="hidden" name="caption[]" value="{{../id}}" />

							<search-box name="judge" is-array="true" title="Judge"
								url="/_api/caption/{{id}}/judges/search" text-prop="FullName" value-prop="id"
								text="{{../User.FullName}}" value="{{../User.id}}"
								placeholder="Start typing a name to search for a judge...">
							</search-box>

						</div>
						<div class="card-footer">
							<button type="submit" form="remove" class="btn btn-danger" name="caption" value="{{id}}">Remove</button>
						</div>
					</div>
				</div>
				{{/with}}
			{{/each}}
		</div>
	</div>
{{#if session.user.IsAdmin}}
	<button type="submit" class="btn btn-lg btn-success mt-3">Save</button>
</form>

<form method="post" action="reset" id="reset">
</form>

<form method="post" action="remove" id="remove">
</form>

<script src="/js/swal2.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/component/SearchBox.js"></script>
<script>
	const app = new Vue({
		el: '#app'
	});

	document.getElementById("useDefault").addEventListener("click", () => {
		Swal.fire({
			icon: 'question',
			title: 'ARE YOU SURE?',
			text: 'Are you sure you wish to reset this event to use the default captions? Any added captions and judges will be removed and replaced.',
			showCancelButton: true,
			customClass: {
				confirmButton: 'btn btn-lg btn-success mx-3',
				cancelButton: 'btn btn-lg btn-danger mx-3'
			},
			buttonsStyling: false,
			reverseButtons: true,
			confirmButtonText: 'Yes, reset to default captions'
		}).then(res => {
			if (res.isConfirmed) {
				document.getElementById("reset").submit();
			}
		})
	});

	document.getElementById("addCaption").addEventListener("click", () => {
		Swal.fire({
			title: 'CHOOSE CAPTION',
			input: 'select',
			inputOptions: {
				{{#each captions }}
					{{ id }}: '{{Name}}',
		{{/each}}
			},
		inputPlaceholder: 'Choose a caption',
		inputValidator: (val) => {
			if (val.trim() === "") {
				return "Please select an item from the list";
			}
		},
		showCancelButton: true,
		customClass: {
		confirmButton: 'btn btn-lg btn-success mx-3',
		cancelButton: 'btn btn-lg btn-danger mx-3'
	},
		buttonsStyling: false,
		reverseButtons: true
		}).then(res => {
			if (res.isConfirmed) {
				window.location.href = `?add=${res.value}`;
			}
		})
	});
</script>
{{/if}}
