<h2>Event Registrations</h2>

{{#if error}}
	<div class="alert alert-danger text-center">{{error}}</div>
{{/if}}

{{#if success}}
	<div class="alert alert-success text-center">The organisation was successfully registered</div>
{{/if}}

{{#if session.user.IsAdmin}}
<div class='p-5 my-4 bg-default text-light rounded-3 text-center'>
	<p>Register an organistation for the event</p>
	<form action='add' method='post' id='app'>
		<search-box class='text-dark' name="organisation" placeholder="Start typing to search for an organisation"
			url="/_api/organisation/search" query-params="membership=true" text-prop="Name" value-prop="id"
			text="{{org.Name}}" value="{{org.id}}">
		</search-box>

		<label for="organisation-not-found" class='d-flex my-3 justify-content-center align-items-center gap-2'>
			<input type="checkbox" name="notFound" value="true">The organisation was not found</input>
		</label>

		<button class='btn btn-success mt-3'>+ Add</button>
	</form>
</div>
{{/if}}

{{#if session.band}}
<div class='my-3'>
	<form action='add' method='post'>
		<input type='hidden' name='organisation_search' value='{{session.band.Name}}' required></input>
		<input type='hidden' name='organisation' value='{{session.band.id}}' required></input>
		<button class="btn btn-success mt-3">Register my organisation: {{session.band.Name}} </button>
	</form>
</div>
{{/if}}

{{#each registrations}}
	<h2 class='my-3'>{{@key}}</h2>
	<div class="accordion" id='accordion'>
	{{#each this}}
	<div class="accordion-item">
		{{#with Organisation}}
		<p class="accordion-header" id="heading-{{id}}">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{id}}" aria-expanded="false" aria-controls="collapse-{{id}}">
				{{Name}}
			</button>
		</p>

		<div id="collapse-{{id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{id}}" data-bs-parent="#accordion">
		{{/with}}
			<div class="accordion-body">
				<p>
					Division: {{Division.Name}}
				</p>
				<p>
					Registered by: {{User.FullName}}
				</p>
			</div>
		</div>
	</div>
	{{/each}}
	</div>
{{/each}}

{{#if session.user.IsAdmin}}
<script src="/js/vue.js"></script>
<script src="/js/component/SearchBox.js"></script>

<script>
	const app = new Vue({
		el: '#app',
	})
</script>
{{/if}}
